<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @checklist.site %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @checklist.lesson %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
